.vs
*/.vs
*/.vs/
*/.vs/*

.vscode
*/.vscode
*/.vscode/
*/.vscode/*

bin
*/bin*
*/bin/*
*/bin/

obj
*/obj*
*/obj/*
*/obj/

StrykerOutput
*/StrykerOutput*
*/StrykerOutput/*
*/StrykerOutput/

.user
*.user*

node_modules
*/node_modules

*.lock
*.lock*

BenchmarkDotNet.Artifacts
BenchmarkDotNet.Artifacts/*
*/BenchmarkDotNet.Artifacts/*